 <div class="card">
    <img class="card-img-top" src="<%= place.cover_image%>" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title"><%= place.name%></h5>
      <p class="card-text"><%= place.description%></p>
    </div>
    <div class="card-footer">
      <small class="text-muted"><%= place.updated_at %></small>
    </div>
  </div>
